

.LKLK_footer {
    text-align:center;
    margin-bottom: 2rem;
}

.LKLK_footer_button{
    font-size: .9rem;
}

.LKLK_header {
    text-align:center;
    margin: 2rem 0;
}

.LKLK_header_nav {
    margin: 0 0.5rem;
}

.LKLK_header_navbar{
    margin: 1rem 0;
}