
<header id="nav" class="nav-bar">
    <nav data-w-id="b2d25b6e-70cb-bec1-9a55-6e68f28386c1" style="opacity:0" class="container w-container">
        <ul role="list" class="nav-grid w-list-unstyled">
            <li id="w-node-b2d25b6e-70cb-bec1-9a55-6e68f28386c3-3ef328d2" class="list-item">
                <a href="{% url 'home' %}" class="link-block-3 w-inline-block">
                    <div class="logo-box">
                        <div class="logo_text k-2">L</div>
                        <div class="logo_text l-3">K</div>
                        <div class="logo_text k-4">L</div>
                        <div class="logo_text l-1">K</div>
                    </div>
                </a>
            </li>

            <li>
                {% if not user.is_authenticated %}
                    <a href="{% url 'accountapp:login' %}?next={{ request.path }}" target="_blank" class="btn-hero w-button">
                        <span>Login</span>
                    </a>
                {% else %}
                    <li>
                        <a href="{% url 'projectapp:create' %}" class="btn-hero w-button">
                          <span>Post</span>
                        </a>
                    </li>

                    <li>
                        <div data-hover="" data-delay="0" class="w-dropdown">
                            <div class="dropdown-toggle w-dropdown-toggle"><img src="/static/images/human.png" loading="lazy" width="50" height="50" alt="" class="profilebtn"></div>
                            <nav class="dropdown-list w-dropdown-list">
                                <a  href="{% url 'accountapp:detail' pk=user.pk %}" class="dropdownbtn mypagebtn w-button">Mypage</a>
                                <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" class="dropdownbtn logoutbtn w-button">Logout</a>
                            </nav>
                        </div>
                    </li>
                {% endif %}
            </li>
        </ul>
    </nav>
</header>
